{% extends 'base.html' %}

{% block content %}
<h1>{{ store.name }}</h1>
<p>Location: {{ store.location }}</p>
<p>Contact email: {{ store.email }}</p>
<h2>Tubs in this store:</h2>

<!--
  <ul>
    {% for tub in store.tub_set.all %}
      <li>{{ tub.flavor }} ({{ tub.size }} liters)</li>
    {% empty %}
      <li>No Tubs assigned to this Store</li>
    {% endfor %}
  </ul>
  -->
<table>
    <thead>
        <tr>
            <th>Flavor</th>
            <th>Size</th>
            <th>Vegan</th>
            <th>Gluten Free</th>
            <th>Store</th>
        </tr>
    </thead>
    <tbody>
        {% for tub in tubs.all %}
        <tr>
            <td>{{ tub.flavor }}</td>
            <td>{{ tub.size }}</td>
            <td>{% if tub.is_vegan %}Yes{% else %}No{% endif %}</td>
            <td>{% if tub.is_gluten_free %}Yes{% else %}No{% endif %}</td>
            <td>{{ tub.store.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total volume: {{ total_volume }}L</p>
{% endblock %}